<p>Hello <%= @resource.email %>!</p>

<p>You can reset your password by clicking the link below:</p>

<p>
  <a href="<%= @custom_reset_link %>">Reset My Password</a>
</p>

<p>If you didn't request this, please ignore this email.</p>
